@model Metizsoft.Data.ViewModal.ProductStutasResponse
@{
    ViewBag.Title = "ProductTypeStutasReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">ProductType Stutas Report</h3>
    </div>

    <form class="form-horizontal" id="frmproductstutas">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="AssignedDate" class="col-sm-4 control-label">From</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right datepicker" id="txtfrom" tabindex="3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="AssignedDate" class="col-sm-4 control-label">To</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right datepicker" id="txtTo" tabindex="3">
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="col-md-4">
                        <div class="form-group">
                            <label for="VehicleNo" class="col-sm-4 control-label">Work Type</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.WorkTypeId, new SelectList(ViewBag.WorkType, "WorkTypeId", "WorkType"), "Select Work Type", new { @class = "form-control"})
                            </div>
                        </div>
                    </div>*@

            </div>
        </div>
        @*</div>*@

        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="button" id="btnsearch" class="btn btn-info">Search</button>
            </div>
        </div>

    </form>

    <div id="lstproduct">

    </div>

</div>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script>
    function loadhtml() {

        debugger;
        var model = new Object();
        model.StartDate = $("#txtfrom").val();
        model.EndDate = $("#txtTo").val();
       
        $.ajax({
            url: '@Url.Action("ProductTypeStutasReportList")',
            type: 'POST',
            data: { 'model': model },
            cache: false,
        }).done(function (result) {
            $('#lstproduct').html(result);
        });
    }

    $("#btnsearch").click(function () {
        loadhtml();
    });

</script>


