@model Metizsoft.Data.Modal.LeaveType_Mst
@{
    ViewBag.Title = "LeaveTypeCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Add Leave Type</h3>
    </div>


    @*<div class="box box-default" id="frmretailer">*@
    <form class="form-horizontal" id="frmleavetype">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Leave Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="LeaveType" id="LeaveType" placeholder="Leave Type" required>
                            </div>
                            <input type="hidden" id="LeaveTypeId" name="LeaveTypeId" value="" />
                        </div>
                    </div>                    
                </div>               
            </div>
        </div>

        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
                <button type="button" id="btnAdd" class="btn btn-info">Add</button>
            </div>
        </div>

    </form>

    <div id="lstLeaveType">

    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

        $(document).ready(function () {
            loadhtml();
        });

        function loadhtml() {
            debugger;
            $.ajax({
                url: '@Url.Action("LeaveTypeList")',
                type: 'GET',
                cache: false,
            }).done(function (result) {
                $('#lstLeaveType').html(result);
            });
        }

    $("#btnAdd").click(function () {
        if (!($('#frmleavetype').parsley().validate())) {

            return;
        }
        debugger;
            var datareq = new Object();
            datareq.LeaveTypeId = $("#LeaveTypeId").val();
            datareq.LeaveType = $("#LeaveType").val();
          
           
            $.ajax({
                url: '@Url.Action("LeaveTypeCreate")',
                type: 'POST',
                data: { 'objleavetype': datareq },
                cache: false,
            }).done(function (result) {
                if (result == true) {
                    debugger
                    if ($("#LeaveTypeId").val() == "") {
                        $('div#sucessalert').html("Leave Type created successfully.");
                    }
                    else {
                        $('div#sucessalert').html("Leave Type updated successfully.");
                    }
                    $("#btnAdd").text("Add");
                    showhidealert();
                    loadhtml();
                    clearform();
                }
            });
    });

    $("#btnCancel").click(function () {
        debugger;
        clearform();
    });
        function clearform() {
            $("#frmleavetype").find("input").val("");

        }


</script>
