@model Metizsoft.Data.Modal.RxType_mst
@{
    ViewBag.Title = "RxTypeCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Add Rx Type</h3>
    </div>


    @*<div class="box box-default" id="frmretailer">*@
    <form class="form-horizontal" id="frmretailer">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="hidden" id="RxTypeId" value="" />
                            <label for="inputEmail3" class="col-sm-4 control-label">Division</label>
                            <div class="col-sm-8">
                                <select name="RxType" id="RxType" class="form-control" required>
                                    <option value="" selected>Select</option>
                                    <option value="1">Blaze</option>
                                    <option value="2">Magnar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">RxType</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer ">
                <div class="pull-right">
                    <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
                    <button type="button" id="btnAdd" class="btn btn-info">Add</button>
                </div>
            </div>

    </form>

    <div id="lstRxType">

    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

    $(document).ready(function () {
        loadhtml();
    });

    function loadhtml() {
        debugger;
        $.ajax({
            url: '@Url.Action("RxTypeList")',
            type: 'GET',
            cache: false,
        }).done(function (result) {
            $('#lstRxType').html(result);
        });
    }

    $("#btnAdd").click(function () {
        if (!($('#frmretailer').parsley().validate())) {

            return;
        }
        debugger;
        var datareq = new Object();
        datareq.RxTypeId = $("#RxTypeId").val();
        datareq.RxType = $("#RxType").val();
        datareq.Name = $("#Name").val();

        $.ajax({
            url: '@Url.Action("RxTypeCreate")',
            type: 'POST',
            data: { 'objrxtype': datareq },
            cache: false,
        }).done(function (result) {
            if (result == true) {
                debugger
                if ($("#RxTypeId").val() == "") {
                    $('div#sucessalert').html("RxType created successfully.");
                }
                else {
                    $('div#sucessalert').html("RxType updated successfully.");
                }
                $("#btnAdd").text("Add");
                showhidealert();
                loadhtml();
                clearform();
            }
        });
    });
    $("#btnCancel").click(function () {
        debugger;
        clearform();
    });
    function clearform() {
        $("#frmretailer").find("input").val("");
        $("#RxType").val("").trigger("change");

    }


</script>
