@model Metizsoft.Data.Modal.WorkType_mst
@{
    ViewBag.Title = "WorkTypeCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Add Work Type</h3>
    </div>


    @*<div class="box box-default" id="frmretailer">*@
    <form class="form-horizontal" id="frmretailer">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">                
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Work Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="WorkType" id="WorkType" placeholder="Work Type" required>
                            </div>
                            <input type="hidden" id="WorkTypeId" name="WorkTypeId" value="" />
                        </div>

                    </div>                    
                </div>              
            </div>
        </div>

        <div class="box-footer ">
            <div class="pull-right">
                <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
                <button type="button" id="btnAdd" class="btn btn-info">Add</button>
            </div>
        </div>

    </form>

    <div id="lstWorkType">

    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

        $(document).ready(function () {
            loadhtml();
        });

        function loadhtml() {
            debugger;
            $.ajax({
                url: '@Url.Action("WorkTypelist")',
                type: 'GET',
                cache: false,
            }).done(function (result) {
                $('#lstWorkType').html(result);
            });
        }

    $("#btnAdd").click(function () {
        if (!($('#frmretailer').parsley().validate())) {

            return;
        }
        debugger;
            var datareq = new Object();
            datareq.WorkTypeId = $("#WorkTypeId").val();
            datareq.WorkType = $("#WorkType").val();         
           
            $.ajax({
                url: '@Url.Action("WorkTypeCreate")',
                type: 'POST',
                data: { 'objworktype': datareq },
                cache: false,
            }).done(function (result) {
                if (result == true) {
                    debugger
                    if ($("#WorkTypeId").val() == "") {
                        $('div#sucessalert').html("Work Type created successfully.");
                    }
                    else {
                        $('div#sucessalert').html("Work Type updated successfully.");
                    }
                    $("#btnAdd").text("Add");
                    showhidealert();
                    loadhtml();
                    clearform();
                }
            });
    });

    $("#btnCancel").click(function () {
        debugger;
        clearform();
    });
        function clearform() {
            $("#frmretailer").find("input").val("");

        }


</script>
